/*Телефон*/
@media screen and (max-width: 650px) {
    /*Эластичные изображения*/
    img {
        max-width: 100%;
        height: auto;
        width: auto; /* ie8 */
    }
}
img
{
    border-radius: 10px;
}

a{
    color: rgb(70, 39, 14);
    text-decoration: none;
}

td {
    border: 0px solid grey;
    text-align: center;
}

th
{
    padding: 20px;
}
body {
    background-image: url(html/fon222.jpg);
    background-attachment: fixed;
}

.header_section1
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    backGround: rgb(44, 70, 97, 0.0);
    color: #fff;
    font-family: Helvetica;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
}

.header_section2_3_4
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}



.heder_sek_1
{
    display: flex;
    justify-content: center;
}
.header
{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: Helvetica;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.header_obhey_sekc
{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    backGround: rgba(108, 122, 160, 0.8);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
.header_section
{
    display: flex;
    flex-wrap: wrap;

}

.header_item
{
    padding: 10px;
    font-size: 20px;
    margin-left: 5px;
}
.header_item:hover
{
    background-color: rgba(75, 205, 245, 0.4);
    border-radius: 4px;
}

.hederlogo
{
    font-weight: bold;
    cursor: pointer;
}

.headerButton
{
    cursor: pointer;
}

.footer
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    backGround: rgb(157, 154, 151);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: Helvetica;
    align-items: center;
    z-index: 1000; 
    width: 99%;

}

.futer_section1
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    backGround: rgb(44, 70, 97, 0.0);
    color: #fff;
    font-family: Helvetica;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
}


.futer_section
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.futer_item
{
    padding: 10px;
    font-size: 20px;
    margin-left: 5px;
}
.futer_item:hover
{
    background-color:  rgb(157, 154, 151);
    border-radius: 4px;
}

.futer_polojen
{
    min-height: 100%;
    padding-bottom: 10px;
}

.futer_polojen
{
    display: flex;
    justify-content: space-around;
}


.iacheika
{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    backGround: rgba(26, 48, 61, 0.4);
    color: #fff;
    font-family: Helvetica;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    border-radius: 10px;

}

.tablic
{
    font-size: 21px;
}

.heder_chast
{
    display: flex;
    flex-wrap: wrap;
    backGround: rgba(26, 48, 61, 0.7);
    color: #fff;
    font-family: Helvetica;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
}



/*Анимация*/
*{box-sizing:border-box}

@keyframes loader {/*Начальная ячейка или обшие настройки при повороте всех объектов*/
    0% {transform:rotate(0deg)}/*начальная точка*/
    50%{transform:rotate(0deg)}/*срединная точка*/
    100%{transform:rotate(0deg)}}/*Конечная точка*/
@keyframes span-1 {/*Первый spain и его координаты положения в зависимости от передвижения*/
    0% {transform:translate(0);}/*начальная точка*/
    50%{transform:translate(-130px,0px);border-color:#EE4D68}/*срединная точка*/
    100%{transform:translate(0);}}/*Конечная точка*/
@keyframes span-2 {/*Первый spain и его координаты положения в зависимости от передвижения*/
    0%{transform:translate(0);}/*начальная точка*/
    50%{transform:translate(130px, 0px);border-color:#875678}/*срединная точка*/
    100%{transform:translate(0);}}/*Конечная точка*/

.loader {
    width: 80px;/*Ширина для начальной точкаи и чтобы объект был по центру то его ширина и высота должна совподать с размером рамки*/
    height: 50px;/*Высота*/
    position: relative;/*Сдиг относительно начального положения*/
    animation: loader 2s infinite ease-in-out;/*Время работы поворота*/
}
.loader span {

    position: absolute;/*Сдиг относительно родителя или документа*/
    border: 4px solid #0B1B48;/*рамка*/

}
.loader span:nth-child(1) {/*скорость перемешения первого spain*/
    animation: span-1 5s ease-in-out infinite;
}
.loader span:nth-child(2) {/*скорость перемешения второго spain*/
    animation: span-2 5s ease-in-out infinite;
}




/*Личный кабинет*/
.lich_cab
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fff;
    font-family: Helvetica;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.tablica
{
    color: #fff;
    backGround: rgb(135, 149, 187);
    border-radius: 10px;
    width: 70em;
    display: flex;
    flex-direction: row;
    justify-content: start;
}


.taabl_lich2
{
    align-self: center;
    border-radius: 10px;
}



.chast_1
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-family: Helvetica;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 10px;

}

.tablica1
{
    padding: 10px;
    color: #fff;
    backGround: rgb(157, 154, 151);
    border-radius: 10px;
    width: 90em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
.tablica1_individ
{

    color: #fff;
    backGround: rgb(157, 154, 151);
    border-radius: 10px;
    width: 90em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.chast_2
{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 50px;
    color: #fff;
    font-family: Helvetica;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
   

}


.chast_vneh_V_profile
{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 50px;
    color: #fff;
    font-family: Helvetica;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.tablica2
{
    padding: 10px;
    color: #fff;
    backGround: rgb(157, 154, 151);
    border-radius: 10px;
    /*opacity: 0.6;*/
    width: 70em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}


/*Блоки*/

.foto,.test-3-name,.test-3-last,.test-3-num
{
    padding: 8px;
}

.test-3-code,.test-3-d1,.test-3-t1,.test-3-t2,.test-3-from,.test-3-to
{
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.gh1,.gh2
{
    min-width: 250px;
    width: 45%;
}




/*Переделки*/
.Nazva_razdel
{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: Helvetica;
    justify-content: center;
}

.btn-primary, btn
{
    background: #1a1e21;
}

.button7 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 8px;
    background: rgb(80, 80, 80);
    box-shadow: 0 -3px rgb(35, 34, 34) inset;
    transition: 0.2s;
}
.button7:hover { background: rgb(131, 131, 131); }
.button7:active {
    background: rgb(82, 82, 82);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.mb-3, .form-check
{
    margin: 10px;
}

.tablica_individ
{
    padding: 10px;
    color: #fff;
    backGround: rgb(157, 154, 151);
    border-radius: 10px;
    /*opacity: 0.6;*/
    width: 50em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);

}
.tablica_individ_2
{
    padding: 10px;
    color: #fff;
    backGround: rgb(157, 154, 151);
    border-radius: 10px;
    /*opacity: 0.6;*/
    width: 60em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    padding-right: 10px;
}
.tablica_individ_3
{
    padding: 10px;
    color: #fff;
    backGround: rgb(157, 154, 151);
    border-radius: 10px;
    /*opacity: 0.6;*/
    width: 80em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
.tablica_individ_4
{
    padding: 10px;
    color: #fff;
    backGround: rgb(157, 154, 151);
    border-radius: 10px;
    /*opacity: 0.6;*/
    max-width: 30em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
.tablica_individ_5
{
    padding: 10px;
    color: #fff;
    backGround: rgb(157, 154, 151);
    border-radius: 10px;
    /*opacity: 0.6;*/
    max-width: 30em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.polojen_knop
{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: Helvetica;
    justify-content: end;
}
.polojen_knop_2
{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: Helvetica;
    justify-content: center;
}

.button7_individ
{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: Helvetica;
    justify-content: center;
    width: 200px;
}

.button7_individ_2
{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: Helvetica;
    justify-content: center;
    width: 160px;
}

.button7_individ_3
{

    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: Helvetica;
    justify-content: center;
    width: 100%;
}
.button7_individ_4
{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: Helvetica;
    justify-content: center;
}

.border-bottom, .bg-primary
{
    background: rgb(131, 131, 131);
}

.form-text
{
    color: black;
}


.Dla_Razdel_V_Opusan
{
    width: 50%;
}

.Obh_yheica
{
  display: flex;/*Что бы использовать flex box (распределяет две секции кнопок на две части)*/
flex-wrap: wrap;
  color: #fff;/*Цвет текста*/
  font-family: Helvetica;/*Шрифт*/
  justify-content: center;
  /*opacity: 0.6;*/
  padding-top: 50px;
  padding-bottom: 50px;
}

.Soderj_yheicu
{
  padding: 20px;
  border-radius: 10px;
      text-align: start 
}

.Stroka_s_razdel_50
{
  padding: 10px ;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: start;
}

.gh1
{
    color: black;
 min-width: 250px;
width: 45%;
padding-top: 3px;
padding-bottom: 3px;

}

.gh2
{
 min-width: 250px;
width: 45%;
padding-top: 3px;
padding-bottom: 3px;

}


.gh11
{
    color: black;
 min-width: 100px;
width: 45%;
padding-top: 3px;
padding-bottom: 3px;
}

.gh22
{
 min-width: 100px;
width: 45%;
padding-top: 3px;
padding-bottom: 3px;

}

.ocryglen_ramcu
{
    border-radius: 10px;
}


.tablica_cot
{
color: rgb(0, 0, 0);/*Цвет текста*/
backGround: rgb(135, 149, 187);
border-radius: 10px;
box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
width: 70em;
display: flex;
flex-wrap: wrap;
flex-direction: column;
}




.Osnov_cv_tx{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    color: rgb(0, 0, 0);/*Цвет текста*/
    font-family: Helvetica;/*Шрифт*/
    /*opacity: 0.6;*/
    }


    .tabb1
    {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
     
    }

    .tabb1_individ
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100%;
        padding-bottom: 50px;
      }


    .tabb2
    {
      padding: 10px;
      text-align: center 
    }
    .tabb22
    {
      padding: 10px;
     
    }
    .tabb3
    {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
    }


.Mesto_dla_raspol_obektov_po_hurune
{
    padding: 10px;
    color: #fff;
    backGround: rgb(157, 154, 151);
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.rodutel_dla_knopku
{
    position:relative;
}
.button_prujat_vnuz
{
    position:absolute; /* добавили */
	bottom:1px;
}

.polojen_pagunatora
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
